DRY_RUN=true
NODE_ENV=test

# Solana RPC
HELIUS_API_KEY=
RPC_URL=https://mainnet.helius-rpc.com/?api-key=YOUR_KEY

# GMGN
GMGN_API_KEY=

# Jupiter
JUPITER_API_KEY=

# Telegram
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=

# Wallet
WALLET_PRIVATE_KEY=
